.subhead {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.7rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: var(--color-brand);
    margin-top: 0;
    margin-bottom: 0;
}

.btn--stroke.hov {
    background: #FFFFFF!important;
    color: #000 !important;
}
