
.subhead--brand {
  color: var(--color-brand);
}

.btn--stroke.hov {
    background: #FFFFFF!important;
    color: #000 !important;
}

.slick-slider .slick-dots li.slick-active button, .slick-slider .slick-dots li:hover button {
    background: var(--color-brand);
}
