---
---

<script>
// Come back to this AJAX SUBMISSION later after trying Custom SUCCESS page
const handleSubmit = (event) => {

  event.preventDefault();

  const myForm = event.target;
  const formData = new FormData(myForm);

    let form = document.querySelectorAll("#contactForm");
    form[0].reset();


  fetch("/", {
    method: "POST",
    headers: { "Content-Type": "application/x-www-form-urlencoded" },
    body: new URLSearchParams(formData).toString(),
  })
  .then(() => {

              console.log("Sample AJAX LOG", event)

            /* let snackbar = document.getElementById("snackbar"); */

            // Add the "show" class to DIV
            /* snackbar.className = "show"; */

            // After 3 seconds, remove the show class from DIV
            /* setTimeout(() => {  */
          /* let snackbar = document.getElementById("snackbar"); */
              /* snackbar.className = snackbar.className.replace("show", "");  */
            /* }, 3000); */

            /* alert("Thank you for your submission") */
  })
  .catch((error) => alert(error));

    // let form = document.querySelector("#contact");
    // form[0].reset();
};

document.querySelector("#contact").addEventListener("submit", handleSubmit);




</script>

<!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row section-header" >
            <div class="col-full">
                <h3 class="subhead">Contact Us</h3>
                <h1 class="display-2 display-2--light">Get a free quote today</h1>
            </div>
        </div>

        <div class="row contact-content" >

            <div class="contact-primary">

                <h3 class="h6">Send Us A Message</h3>

                <form name="contactForm" id="contactForm" method="POST" novalidate="novalidate"
                  data-netlify="true"
                  data-netlify-recaptcha="true"
                  netlify-honeypot="bot-field"
                  >

                        <input type="hidden" name="contactForm" value="feedback" />
                    <fieldset>

                        <div class="form-field">
                            <input name="contactName" type="text" id="contactName" placeholder="Your Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                        </div>
                        <div class="form-field">
                            <input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email" value="" required="" aria-required="true" class="full-width">
                        </div>
                        <!-- <div class="form-field"> -->
                            <!-- <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width"> -->
                        <!-- </div> -->
                        <div class="form-field">
                            <input name="contactWhere" type="text" id="contactWhere" placeholder="Where did you hear about us?" value="" class="full-width">
                        </div>
                        <div class="form-field">
                            <textarea name="contactMessage" id="contactMessage" placeholder="What work would you like done" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                        </div>
                        <div class="form-field">
                            <button type="submit" class="full-width btn--primary">Submit</button>
                            <div class='captcha' data-netlify-recaptcha='true'></div>

                            <div class="submit-loader">
                                <div class="text-loader">Sending...</div>
                                <div class="s-loader">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div> 

                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>

            </div> <!-- end contact-primary -->

            <div class="contact-secondary">
                <div class="contact-info">

                    <h3 class="h6 hide-on-fullwidth">Contact Info</h3>

                    <div class="cinfo">
                        <h5>Where to Find Us</h5>
                        <p>
                        63 - 66 Hatton Garden <br>
                        5th Floor, Suite 23 <br>
                        London, EC1N 8LE                         </p>
                    </div>

                    <div class="cinfo">
                        <h5>Email Us At</h5>
                        <p>
                        info@raidenelectricalltd.co.uk
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>Call Us At</h5>
                        <p>
                        Phone: (+44) 07893 907811<br>
                        <!-- Mobile: (+63) 555 0100<br> -->
                        <!-- Fax: (+63) 555 0101 -->
                        </p>
                    </div>

                    <ul class="contact-social">
                        <li>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <!-- <li> -->
                            <!-- <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
                        <!-- </li> -->
                        <!-- <li> -->
                            <!-- <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a> -->
                        <!-- </li> -->
                        <!-- <li> -->
                            <!-- <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a> -->
                        <!-- </li> -->
                    </ul> <!-- end contact-social -->

                </div> <!-- end contact-info -->
            </div> <!-- end contact-secondary -->

        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->
        <style>
          .contact-content input[type="email"]:focus, 
          .contact-content input[type="number"]:focus, 
          .contact-content input[type="search"]:focus, 
          .contact-content input[type="text"]:focus, 
          .contact-content input[type="tel"]:focus, 
          .contact-content input[type="url"]:focus, 
          .contact-content input[type="password"]:focus, 
          .contact-content textarea:focus, 
          .contact-content select:focus {
            color: #FFFFFF;
            border-bottom: 1px solid var(--color-brand);
          }


            .contact__line {
                background-color: var(--color-brand);
            }
            .subhead {
                color: var(--color-brand);
            }
            .contact-content h5 {
                color: var(--color-brand);
            }
            .btn.btn--primary, button.btn--primary, input[type="submit"].btn--primary:hover, input[type="reset"].btn--primary:hover, input[type="button"].btn--primary:hover, .btn.btn--primary:focus, button.btn--primary:focus, input[type="submit"].btn--primary:focus, input[type="reset"].btn--primary:focus, input[type="button"].btn--primary:focus {
                background: var(--color-brand);
                border-color: var(--color-brand);
            }
        </style>
