---
import Icon from '../Icon.astro'; 
---

    <!-- services
    ================================================== -->
    <section id='services' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">What We Do</h3>
                <h1 class="display-2">We specialize in a wide range of electrical services including</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <!-- <i class="icon-paint-brush"></i> -->
                    <!-- <img src="/images/icons/svg/installation_border.svg"> -->
                    <Icon icon="installation_bordered" width="64px">
                </div>
                <div class="service-text">
                    <h3 class="h2">Electrical Installation</h3>
                    <p>We provide professional electrical installation services for new constructions, renovations, and additions. Our team can install a wide range of electrical systems, including lighting, power, and security systems.</p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <!-- <i class="icon-group"></i> -->
                    <!-- <img src="/images/icons/tools@64x64_border.png"> -->
                    <Icon icon="tools_bordered" width="64px">
                </div>
                <div class="service-text">
                    <h3 class="h2">Electrical Repairs</h3>
                    <p>Our team can quickly diagnose and repair any electrical issues in your home or business. We offer comprehensive repair services for all types of electrical systems, including wiring, outlets, and circuit breakers.</p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <!-- <i class="icon-megaphone"></i> -->
                    <!-- <img src="/images/icons/electrician@64x64_border.png"> -->
                    <Icon icon="electrician_bordered" width="64px">
                </div>
                <div class="service-text">
                    <h3 class="h2">Electrical Maintenance</h3>
                    <p>Regular maintenance is essential to keep your electrical systems running smoothly and prevent potential issues. We offer ongoing maintenance services to keep your electrical systems in optimal condition and reduce the risk of breakdowns and failures.</p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <!-- <i class="icon-earth"></i> -->
                    <!-- <img src="/images/icons/schematics@64x64_border.png"> -->
                    <Icon icon="schematic_bordered" width="64px">
                </div>
                <div class="service-text">
                    <h3 class="h2">Electrical Upgrades</h3>
                    <p>If your electrical system is outdated or needs an upgrade, we can help. Our team can assess your current system and recommend upgrades to improve its efficiency, safety, and performance.</p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <!-- <i class="icon-cube"></i> -->
                    <!-- <img src="/images/icons/voltmter@64x64_border.png"> -->
                    <Icon icon="voltmeter_bordered" width="64px">
                </div>
                <div class="service-text">
                    <h3 class="h2">Electrical Testing</h3>
                    <p>We provide thorough electrical safety inspections to identify potential hazards and ensure that your electrical system is up to code and compliant with regulations.</p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <!-- <img src="/images/icons/repairs@64x64_border.png"> -->
                    <Icon icon="repair_bordered" width="64px">
                </div>
                <div class="service-text">
                    <h3 class="h2">Emergency Electrical Services</h3>
                    <p>We offer emergency electrical services to quickly respond to electrical emergencies. Our team of electricians is equipped to handle any urgent issue, from power outages to tripping circuit breakers, to help you get your electrical system up and running again.</p>
                </div>
            </div>

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->

        <style>
         .services-list .service-icon {
                float: left;
                color: #39b54a;
                font-size: 5rem;
                margin-top: -5rem; 
        }

         @media only screen and (max-width: 800px){
             .services-list .service-icon {
                 font-size: 4.5rem;
                 float: none;
                 margin-top: 0;
             }
         }


            .subhead {
                font-family: "montserrat-bold", sans-serif;
                font-size: 1.7rem;
                line-height: 1.333;
                text-transform: uppercase;
                letter-spacing: .25rem;
                color: var(--color-brand);
                margin-top: 0;
                margin-bottom: 0;
            }
        </style>
