---
import WorksBrick from './WorksBrick.astro'
const posts = await Astro.glob("/public/images/portfolio/IMG_*.jpg");
---

<script define:vars={{posts}}>
    // posts.map((post) => {
        // console.log(post.default)
        // let fileNameIndex = post.default.lastIndexOf("/") + 1;
        // let filename = post.default.substr(fileNameIndex)
        // console.log(filename)
    // })
</script>

<!-- works 
  ================================================== -->

    <section id='works' class="s-works">

        <div class="intro-wrap">

            <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead subhead--brand">Recent Works</h3>
                    <h1 class="display-2 display-2--light">We love what we do, check out some of our latest works</h1>
                </div>
            </div> 

        </div> <!-- end intro-wrap -->

        <div class="row works-content">
          <div id="justifiedGallery" >
            <a href="images/portfolio/gallery/g-4169.jpg" rel="gallrey1">
              <img alt="Project" src="images/portfolio/gallery/g-4169.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-4171.jpg" rel="gallery1">
              <img alt="title 1" src="images/portfolio/gallery/g-4171.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-4173.jpg" rel="gallery1">
              <img alt="title 2" src="images/portfolio/gallery/g-4173.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-4174.jpg" rel="gallery1">
              <img alt="title 3" src="images/portfolio/gallery/g-4174.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-4175.jpg" rel="gallery1">
              <img alt="title 4" src="images/portfolio/gallery/g-4175.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-4176.jpg" rel="gallery1">
              <img alt="title 5" src="images/portfolio/gallery/g-4176.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-4179.jpg" rel="gallery1">
              <img alt="title 6" src="images/portfolio/gallery/g-4179.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-4181.jpg" rel="gallery1">
              <img alt="title 7" src="images/portfolio/gallery/g-4181.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-4182.jpg" rel="gallery1">
              <img alt="title 8" src="images/portfolio/gallery/g-4182.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-4183.jpg" rel="gallery1">
              <img alt="title 9" src="images/portfolio/gallery/g-4183.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-4184.jpg" rel="gallery1">
              <img alt="title 10" src="images/portfolio/gallery/g-4184.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-4188.jpg" rel="gallery1">
              <img alt="title 11" src="images/portfolio/gallery/g-4188.jpg"/>
            </a>
          </div>
        </div> <!-- end works-content -->
        <div class="item-folio">

        <!-- <div class="item-folio__thumb"> -->
            <!-- <a href="images/portfolio/gallery/g-palmeira.jpg" class="thumb-link" title="Palmeira" data-size="1050x700"> -->
                <!-- <img src="images/portfolio/palmeira.jpg" -->
                     <!-- srcset="images/portfolio/palmeira.jpg 1x, images/portfolio/palmeira@2x.jpg 2x" alt=""> -->
            <!-- <a href="images/portfolio/gallery/g-4179.jpg" class="thumb-link" title="Palmeira" data-size="3024x4032"> -->
                <!-- <img src="images/portfolio/IMG_4179.jpg" -->
                     <!-- srcset="images/portfolio/IMG_4179.jpg 1x" alt=""> -->
            <!-- </a> -->
        <!-- </div> -->

    </section> <!-- end s-works -->

<style>

  .justified-gallery > a > img, .justified-gallery > div > img, .justified-gallery > figure > img, .justified-gallery > a > a > img, .justified-gallery > div > a > img, .justified-gallery > figure > a > img, .justified-gallery > a > svg, .justified-gallery > div > svg, .justified-gallery > figure > svg, .justified-gallery > a > a > svg, .justified-gallery > div > a > svg, .justified-gallery > figure > a > svg {
    border: 2px solid black;
  }

/* ------------------------------------------------------------------- 
 * responsive:
 * works
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 800px) {
    .item-folio__title, .item-folio__cat {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 600px) {
    .s-works {
        padding-bottom: 12rem;
    }
    .s-works .intro-wrap {
        padding: 12rem 0 25.2rem;
    }
    .works-content {
        margin-top: -25.2rem;
    }
    .masonry__brick {
        float: none;
        width: 100%;
    }
    .item-folio__title, .item-folio__cat {
        font-size: 1.4rem;
    }
}
</style>
