---
import WorksBrick from './WorksBrick.astro'
const posts = await Astro.glob("/public/images/portfolio/IMG_*.jpg");
---

<script define:vars={{posts}}>
    // posts.map((post) => {
        // console.log(post.default)
        // let fileNameIndex = post.default.lastIndexOf("/") + 1;
        // let filename = post.default.substr(fileNameIndex)
        // console.log(filename)
    // })
</script>

<!-- works 
  ================================================== -->

    <section id='works' class="s-works">

        <div class="intro-wrap">

            <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead">Recent Works</h3>
                    <h1 class="display-2 display-2--light">We love what we do, check out some of our latest works</h1>
                </div>
            </div> 

        </div> <!-- end intro-wrap -->

        <div class="row works-content">
          <div id="mygallery" >
            <a href="#works">
              <img alt="Project" src="images/portfolio/gallery/g-2640.jpg"/>
            </a>
            <a href="#works">
              <img alt="title 2" src="images/portfolio/gallery/g-2641.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-2642.jpg">
              <img alt="title 2" src="images/portfolio/gallery/g-2642.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-2951.jpg">
              <img alt="title 2" src="images/portfolio/gallery/g-2951.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-2955.jpg">
              <img alt="title 2" src="images/portfolio/gallery/g-2955.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-2957.jpg">
              <img alt="title 2" src="images/portfolio/gallery/g-3355.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-2642.jpg">
              <img alt="title 2" src="images/portfolio/gallery/g-3355.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-beetle.jpg">
              <img alt="title 2" src="images/portfolio/gallery/g-beetle.jpg"/>
            </a>
            <a href="images/portfolio/gallery/g-grow.jpg">
              <img alt="title 2" src="images/portfolio/gallery/g-grow-green.jpg"/>
            </a>
          </div>
        </div> <!-- end works-content -->

    </section> <!-- end s-works -->

<style>

  .justified-gallery > a > img, .justified-gallery > div > img, .justified-gallery > figure > img, .justified-gallery > a > a > img, .justified-gallery > div > a > img, .justified-gallery > figure > a > img, .justified-gallery > a > svg, .justified-gallery > div > svg, .justified-gallery > figure > svg, .justified-gallery > a > a > svg, .justified-gallery > div > a > svg, .justified-gallery > figure > a > svg {
    border: 2px solid black;
  }
    .subhead {
        color: var(--color-brand);
    }
</style>
