--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Raiden Electrical Ltd.</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <!-- <script src="js/modernizr.js"></script> -->
    <!-- <script src="js/pace.min.js"></script> -->

    <!-- favicons
    ================================================== -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <!-- <link rel="icon" type="image/png" href="/images/favicon-raiden.png"> -->
    <link rel="icon" type="image/svg+xml" href="/images/favicon-gap-2.svg">
    <!-- <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" /> -->
    <!-- <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" /> -->
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png" /> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png" /> -->
    <!-- <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png" /> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png" /> -->
    <!-- <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png" /> -->
    <!-- <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png" /> -->
    <!-- <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png" /> -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png" /> -->
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->

	</head>
	<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <!-- <div class="header-logo"> -->
            <!-- <a class="site-logo" href="index.html"> -->
                <!-- <img src="images/logo.png" alt="Homepage"> -->
            <!-- </a> -->
        <!-- </div> -->

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Navigation</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                    <li><a class="smoothscroll"  href="#services" title="services">Services</a></li>
                    <li><a class="smoothscroll"  href="#works" title="works">Works</a></li>
                    <li><a class="smoothscroll"  href="#clients" title="clients">Clients</a></li>
                    <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
                </ul>
    
                <p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>
    
                <ul class="header-nav__social">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->
		<slot />
	</body>
</html>
    
    

<style>
    :root {
        /* --font-serif: 'Inter', sans-serif; */
        /* --font-16: 1.6rem; */
        /* --font-18: 1.8rem; */
        /* --font-24: 2.4rem; */
        /* --font-32: 3.2rem; */
        /* --font-80: 8rem; */
        /*  */
        /* --spacing-4: 0.4rem; */
        /* --spacing-8: 0.5rem; */
        /* --spacing-16: 1.6rem; */
        /* --spacing-20: 2rem; */
        /* --spacing-24: 2.4rem; */
        /* --spacing-32: 3.2rem; */

        --color-brand: hsl(204 88% 53%);
        --color-text-primary: hsl(0 0% 98%);
        --color-text-muted: hsl(210 34% 80%);
        --color-bg-primary: hsl(210 34% 13%);
        --color-bg-secondary: hsl(209, 35%, 15%);
        --color-btn-primary-active: var(--color-brand);
        --color-btn-primary-active-hover: hsl(204 88% 60%);
        --color-btn-primary-inactive: hsl(205 70% 33%);
        --color-btn-secondary: hsl(192 19% 95%);
        --color-border-primary: hsl(0, 0%, 34%);
        --color-link-hover: hsl(209 22% 19%);
        --color-placeholder: hsl(210 34% 80%);

        --radius-base: 1.5rem;
    }
    .header-menu-toggle {
        position: fixed;
        right: 38px;
        top: 24px;
        height: 42px;
        width: 42px;
        line-height: 42px;
        font-family: "montserrat-medium", sans-serif;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: .3rem;
        color: #39b54a;
        color: var(--color-brand);
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .header-nav h3 {
        font-family: "montserrat-semibold", sans-serif;
        font-size: 11px;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: .25rem;
        margin-bottom: 4.8rem;
        margin-top: 0.9rem;
        color: var(--color-brand);
    }

    .subhead {
        font-family: "montserrat-bold", sans-serif;
        font-size: 1.7rem;
        line-height: 1.333;
        text-transform: uppercase;
        letter-spacing: .25rem;
        color: var(--color-brand);
    }

    .button.btn--primary{
        background: var(--color-brand);
        border-color: var(--color-brand);
    }

    .btn.btn--primary, button.btn--primary, input[type="submit"].btn--primary, input[type="reset"].btn--primary, input[type="button"].btn--primary {
        background: var(--color-brand);
        border-color: var(--color-brand);
        color: #FFFFFF;
    }
    @media only screen and (max-width: 500px){
        .home-content__main {
            text-align: center;
            max-width: none;
            padding-top: 15rem;
            padding-right: 25px;
            width: 85%;
        }
    }
    .contact-content input[type="email"]:focus, .contact-content input[type="number"]:focus, .contact-content input[type="search"]:focus, .contact-content input[type="text"]:focus, .contact-content input[type="tel"]:focus, .contact-content input[type="url"]:focus, .contact-content input[type="password"]:focus, .contact-content textarea:focus, .contact-content select:focus {
        color: var(--color-brand);
        border-bottom: 1px solid var(--color-brand);
    }
    .s-contact .form-field label {
        font-family: "montserrat-light", sans-serif;
        font-size: 1rem;
        line-height: 2.4rem;
        position: absolute;
        bottom: -0.3rem;
        right: 0.6rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        padding: 0 2rem;
        margin: 0;
        color: #FFFFFF;
        background: var(--color-brand);
    }
</style>
